.project-header {
  background: #F9F9F9;
}

.project-header-image {
  min-height: 200px;
  height: 30vh;
  max-height: 500px;
  max-width: 100%;
}

.project-header-description {
  font-size: 1.3rem;
}

.project-content ul {
  list-style: none;
  padding-left: 0;
}

.project-content>ul>li:first-of-type {
  border-top: none;
}

.project-content>ul>li {
  display: flex;
  flex-direction: column;
  border-top: #F8B83E 2px solid;
  margin-top: 1.5em;
  padding-top: 1em;
  padding-left: 1em;
}

.project-content>ul>li>ul>li>img {
  max-width: 100%;
  height: 100%;
  display: table;
  object-fit: cover;
  overflow: hidden;
  max-height: 40px;
}

.project-content>ul>li>ul>li {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin: 1em;
}

.project-content>ul>li>ul>li>p:first-child {
  font-weight: 500;
  color: #000;
  margin-top: .5em;
}

.project-content>ul>li>ul>li>p {
  color: #6c757d;
  font-weight: 300;
  margin-top: 0;
}

.project-content>ul>li>p:first-of-type {
  font-weight: 600;
  font-size: 1.5rem;
}

.project-content-image {
  display: flex;
  font-weight: 300;
  color: #6c757d;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .project-content>ul {
    padding-left: unset;
  }
  .project-content>ul>li {
    flex-direction: row;
  }
  .project-content>ul>li>p:first-of-type {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    min-width: 150px;
  }
  .project-content>ul>li>ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.15rem;
    width: 75%;
    justify-content: flex-start;
  }
  .project-content>ul>li>ul>li {
    min-height: 80px;
    width: 50%;
    margin: unset;
  }
  .project-content>ul>li>ul>li>p {
    align-self: flex-start;
    margin: .5em;
  }
  .project-content>ul>li>ul>li.project-content-image {
    align-items: flex-start;
    width: 25%;
    justify-content: center;
    padding-right: 5px;
  }
}
